<div class="row">
    <div class="form-group">
            <div class="col-md-3">
                <label>{{ statname }}</label>
            </div>

        <div class="radio">
            <div class="col-md-9">
                <label class="checkbox-inline">
                    <input type="radio" name="{{ statname }}OptionsRadiosinline_Clear" id="{{ statname }}ClearRadios" value="x" ng-click="clearSkill($event)">x
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="{{ statname }}OptionsRadiosinline" id="{{ statname }}D4Radios" value="4"
                           ng-model="stat">d4
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="{{ statname }}OptionsRadiosinline" id="{{ statname }}D6Radios" value="6"
                           ng-model="stat">d6
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="{{ statname }}OptionsRadiosinline" id="{{ statname }}D8Radios" value="8"
                           ng-model="stat">d8
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="{{ statname }}OptionsRadiosinline" id="{{ statname }}D10Radios" value="10"
                           ng-model="stat">d10
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="{{ statname }}OptionsRadiosinline" id="{{ statname }}D12Radios" value="12"
                           ng-model="stat">d12
                </label>
            </div>
        </div>
    </div>
</div>
